!!!

%html
  %head
    %title #{Potov.site_title}
    %meta{ charset: "utf-8" }
    - @styles.each do |style|
      %link{ rel: "stylesheet", type: "text/css", href: "/#{style}.css" }
    %link{ rel: "stylesheet", type: "text/css", href: "https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css" }
    %link{ rel: "stylesheet", type: "text/css", href: "https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" }
    %link{rel: "stylesheet", type: "text/css", href: "/lib/colorbox/colorbox.css" }
    %script{ type: "text/javascript", src: "https://code.jquery.com/jquery-3.3.1.min.js" }
    %script{ type: "text/javascript", src: "https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js" }
    %script{ type: "text/javascript", src: "https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" }
    %script{ type: "text/javascript", src: "https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.6.4/jquery.colorbox-min.js" }
    :javascript
      $(document).ready(function() {
        $('#tree')
        .jstree()
        .bind('select_node.jstree', function(e, data) {
          const path = '/dir/' + $('#' + data.node.id).attr('data-path');
          $('#main').load(path);
        });
      });


  %body
    %div#header
      %div#header_content
        %h1
          %a{ href: "/" } #{Potov.site_title}
    %div#container
      %div#content
        != yield
      %div#footer
        = "Potov #{Potov::VERSION}"
