!!!

%html
  %head
    %title #{PV_CONFIG["site_title"]}
    %meta{ charset: "utf-8" }
    - @styles.each do |style|
      %link{ rel: "stylesheet", type: "text/css", href: "/#{style}.css" }
    %link{ rel: "stylesheet", type: "text/css", href: "/lib/jquery-ui/jquery-ui.min.css" }
    %link{ rel: "stylesheet", type: "text/css", href: "/lib/jstree/themes/default/style.min.css" }
    %script{ type: "text/javascript", src: "/lib/js/jquery-1.11.3.min.js" }
    %script{ type: "text/javascript", src: "/lib/jstree/jstree.min.js" }
    %script{ type: "text/javascript", src: "/lib/jquery-ui/jquery-ui.min.js" }
    :javascript
      $(document).ready(function() {
        $('#tree')
        .jstree()
        .bind('select_node.jstree', function(e, data) {
          var path = '/dir/' + $('#' + data.node.id).attr('data-path');
          $('#main').load(path);
        });
      });


  %body
    %div#header
      %div#header_content
        %h1
          %a{ href: "/" } #{PV_CONFIG["site_title"]}
    %div#container
      %div#content
        != yield
      %div#footer
        = "PhotoView v#{PV_VERSION}"
